{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
D
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
      </head>
    <body>

    <main role="main">
      <h1 style="text-align: center;">Stay Connected Bulgaria</h1>
      <div class="menu-bar">
          <ul>
            <li><a href="{% url 'home' %}"><i class="icon-home"></i> Home</a></li>
            <li><a href="#"><i class="icon-list"></i> Cities</a>
                  <div class="sub-menu-1">
                    <ul>
                        <li><a href="{% url "article-list-city" 'sofia'%}"> Sofia</a></li>
                        <li><a href="{% url "article-list-city" 'varna'%}"> Varna</a></li>
                        <li><a href="{% url "article-list-city" 'burgas'%}"> Burgas</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="icon-ellipsis-horizontal"></i> About</a></li>
            {% if user.is_authenticated %}
              <li><a href="#"><i class="icon-user"></i> My profile</a></li>
              <li><a href="{% url 'logout'%}"> logout</a></li>
              <li><a href="{% url 'article-create'%}"> Article create</a></li>
            {% else %}
              <li><a href="{% url 'login'%}"> Login</a></li>
              <li><a href="{% url 'register'%}"> register</a></li>
            {% endif %}
            <li><a href="{% url 'article-list'%}"> articles</a></li>
          </ul>
      </div>

      {% for message in messages %}
        {{ message }}
      {% endfor %}

      {% block content %}{% endblock %}
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</div>
</body>
</html>
