<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="../../static/blog/main.css">
</head>
<body>

<form action="/action_page.php">
  <div class="container">
    <h1>Регистрация</h1>
    <p>Моля попълнете формата, за да създадете регистрация.</p>
    <hr>

    <label for="email"><b>И-мейл</b></label>
    <input type="text" placeholder="Въведете и-мейл" name="email" id="email" required>

    <label for="psw"><b>Парола</b></label>
    <input type="password" placeholder="Въведете парола" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Повторете парола</b></label>
    <input type="password" placeholder="Повторете парола" name="psw-repeat" id="psw-repeat" required>
    <hr>
    <p>Със създаването на акаунт се съгласявате със <a href="#">Условията за поверителност и политика</a>.</p>

    <button type="submit" class="reglogbtn">Регистрирай</button>
  </div>
  
  <div class="container signin">
    <p>Вече имате акаунт? <a href="#">Вход</a>.</p>
  </div>
</form>

</body>
</html>