

.menu-bar{
    background: white;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #ededed;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    width: 100%;
}

.menu-bar ul li{
    display: block;
    background-color: #4287f5;
    width: 13%;
    height: 22px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px, 10px;
    border-radius: 4px;
    position: relative;
}

.menu-bar ul li:hover{
    background-color: #0b5ee3;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -15px;
    background-color: #0b5ee3;
    border-radius: 0px 0px 4px 4px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 80%;
    padding: 10px;
    margin-left: -8px;
    border-radius: 4px;
    text-align: center;
}






.signin {
  background-color: #99ff99;
  text-align: center;
}


.reglogbtn:hover {
  opacity: 1;
}


* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #00ff99;
  margin-bottom: 25px;
}

.reglogbtn {
  background-color: #00b36b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.reglogbtn:hover {
  opacity: 1;
}
