{% extends "pages/base.html" %}
{% block content %}
    <h1>Article detail</h1>
    <h2>{{ date_today }}</h2>
    <div style="outline-style: dotted">
      <h1>{{ article.author }}</h1>
      <h2>{{ article.title }}</h2>
      <h4>{{ article.city }}</h4>
      <p>{{ article.content }}</p>
      <h5>koga se sluchva {{ article.date_of_action|date:"F d, Y" }}</h5>
      <h5>kacheno {{ article.date_posted|date:"F d, Y" }}</h5>
      <p>{{ srticle.content }}</p>
      {% if article.author == user %}
        <a href="{% url 'article-update' article.id %}">Update</a>
        <a href="{% url 'article-delete' article.id %}">Delete</a>
      {% endif %}
    </div>
{% endblock content %}
