{% extends "pages/base.html" %}
{% load static %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="container">
    <h1>Вход</h1>
    <p>Моля попълнете формата, за да влезете в акаунта си.</p>
    <hr>
      {{ form.username.label }}
      {{ form.username }}
      {{ form.password.label }}
      {{ form.password }}
    <hr>

    <button type="submit" class="reglogbtn">Вход</button>
  </div>
  <div class="container signin">
    <a  href="{% url 'register' %}">Нямате акаунт?</a>
  </div>

</form>
{% endblock content %}
