
{% extends "pages/base.html" %}
{% load static %}
{% block content %}

	<div class="imgandins container">
	<div class="imgspc">

		<script>
		var loadFile = function(event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};
		</script>

	</div>
	<div class="insbar">
		<hr>
		<h1>{{ user.username }}</h1>
		<h1>{{ user.profile.main_city }}</h1>
		<h2>{{ user.profile.content }}</h2>
		</hr>
	</div>
	<a href="{% url 'article-list' %}" class="posts">Постове</a>
	</div>


{% endblock content %}
